@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Playfair+Display:wght@400;700;800&family=Roboto&display=swap');
*{
   list-style: none;
   font-style: none;
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 40px;
    border: 5px solid #1E2939;
    border-radius: 30px;
}
main{
    margin-left: 80px;
    margin-top: 80px;
    width: 100%;
}
.title {
    margin-bottom: 80px;
}
.title-position {
    margin-bottom: 15px;
}
.title-position-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.title-my-name {
    margin-bottom: 50px;
}
.title-my-name-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}
.title-about-me{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    max-width: 68%;
}
.experience {
    margin-bottom: 80px;
}
.experience-title {
    margin-bottom: 40px;
}
.experience-title-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.experience-position-list li{
    margin-bottom: 15px;
}
.experience-position-list-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.major-project {
    margin-bottom: 80px;
}
.major-project-title {
    margin-bottom: 40px;
}
.major-project-title-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.major-project-list li{
    margin-bottom: 15px;
}
.major-project-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.major-project-link-text {
    color:orangered;
}
.education-title {
    margin-bottom: 40px;
}
.education-title-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.education-date {
    margin-bottom:80px
}
.education-date-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}
.languages {
    margin-bottom: 80px;
}
.languages-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 40px;
}
.languages-list li{
    margin-bottom: 15px;
}
.languages-list-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.sidebar {
    background-color: #1E2939;
    width: 50%;
    border-radius: 20px;
}
.sidebar-photo {
    width: 100%;
    margin-top: 80px;
}
.sidebar-contacts, .skills {
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 150px;
}
.sidebar-contacts-title, .skills-title {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.sidebar-contacts a, .skilss-list {
    margin-bottom: 15px;
    color:#808080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.sidebar-contacts a span {
    color: orangered;
    margin-right: 15px;
}
